.heroimg{
    animation: faded 0.8s ease-in-out;
}

@keyframes faded{
   from{scale: 0;}
   to{scale: 1;}
}

.aboutUs
{



}
.projectsAnim{

}    

.projectsAnim1{

}
.ourTeamAnim{
}
.formAnim{
}
.formAnim1{
}
@keyframes withScroll{
    from{scale:0.7; opacity: 0;}
    to{scale:1; opacity: 1;}
}
@keyframes withScroll1{
    from{scale:1; opacity: 0;}
    to{scale:1; opacity: 1;}
}
