@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}


.fade-out{
  transition: opacity 1s ease-out;
  opacity: 0
}