.content{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    
    margin-bottom: 5rem;
    margin-top: 10rem;
   

}
.but{
  display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

}
.h1{
    font-size: 100px;
    font-weight: 451;
    font-weight: 550;
}
.h2{
  font-size: 50px;
  padding-top: 5rem;
}
.para{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  
    
}
.texteb{
  font-size: 15px;
  font-weight: 300;
  padding-top: 6px;
}
.team-button {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    border: none; /* Remove border */
    padding: 10px 40px; /* Add some padding */

    
    
    
    


    border-radius: 25px; /* Rounded edges */
    font-size: 15px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
    
  }
  
  .team-button:hover {
    background-color: #ffffff; /* Slightly lighter black on hover */
    transform: scale(1);
    color: #000;

    border: 2px solid black;
     /* Slightly increase size on hover */
    
  }
  


.content1 {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.content2{
    width: 800px;
    font-weight: bold;
}

.core{
  font-size: 30px;
  text-align: center;
  font-weight: bold
}

.core-content{
  margin-left: 50px;
}

