.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 5rem;

}
.h1{
    font-size: 100px;
    font-weight: 451;

}
.para{
    display: flex;
    align-items: center;
    justify-content: center;
}


.content1 {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.content2{
    width: 800px;
    font-weight: bold;
}

.core{
    font-size: 30px;
    text-align: center;
    font-weight: bold
}

.core-content{
    margin-left: 50px;
}
